body{
	background-color: #e4e1dd; 
	background-image: url('../img/background.gif'), url('../img/background2.png');
	background-repeat: repeat-y, no-repeat;
	background-position: center top;
}

.moreInfo{
	background: #02AFB2;
	margin-bottom: 1.25em;
	padding: 1.25em;
	overflow: hidden;
	font-size: 1.25em;
	color: #fff;
	font-family: 'Wellfleet', cursive;
}

.showMoreInfo{
	background: url('../img/arrow-circle-right.png') no-repeat center right;
	padding-right: 32px;
	display: inline-block;
}

.moreInformation{
	background: #02AFB2;
	padding: 1.25em;
	overflow: hidden;
	font-size: 1.25em;
	color: #fff;
	margin: 0;
}

/* Reserutten */

.oneStation{
	background: url('../img/pathMiddle.png')no-repeat center 55px ;
	overflow: hidden;
	width: auto;
	float: left;
	padding: 0 0.25em;
	text-align: center;
	margin-bottom: 2em;
	
}

.oneBetween{
	background: url('../img/pathBetween.png')repeat-x 0 55px;
	overflow: hidden;
	width: 50px;
	float: left;
	height: 106px;
	display: block;
	margin-bottom: 2em;
	
}

.timeBubbleCost{
	font-size: 0.65em;
	color: #02AFB2;
	font-family: 'Wellfleet', cursive;
	background: #fff;
	text-align: center;
	width: auto;
	padding: 1.25em;
	display: inline-block;
	margin: 0 auto;
}

.stationName{
	font-family: 'Wellfleet', cursive;
	font-size: 0.75em;
	padding-top: 2.85em;
	display: block;
	text-align: center;
	line-height: 120%;
}

.priceList{
	font-family: 'Wellfleet', cursive;
	font-size: 0.8em;
	font-weight: normal;
	margin-top: 0.2em;
}

.firstStation, .lastStation{
	background: url('../img/pathFirstLast.png')no-repeat center 55px ;	
}

.row .cityTime .row{
	margin: 0 0 1.5em;
}

.panel h6{
	font-size: 1.25em;
	color: #fff !important;
	font-family: 'Wellfleet', cursive;
	font-weight: normal;
	margin-bottom: 2em;
}

/* iPhone specific */
@media only screen 
and (max-width : 480px) {
/* Styles */

	.cityName, .resultTime{
		color: #fff;
		font-family: 'Wellfleet', cursive;
		font-size: 1.25em;
		height: 24px;
	}
	
	.oneStation{
		background: url('../img/pathMiddleDot.png')no-repeat center 55px ;
		
	}
	
	.oneBetween{
		background: none;
		overflow: hidden;
		width: 50px;
		float: left;
		height: 106px;
		display: block;
		margin-bottom: 2em;
		
	}
	
	.firstStation, .lastStation{
		background: url('../img/pathFirstLastDot.png')no-repeat center 55px ;	
	}
		
}