body{
	background-color: #e4e1dd; 
	background-image: url('../img/background.gif'), url('../img/background2.png');
	background-repeat: repeat-y, no-repeat;
	background-position: center;
}

#topBanner{
	background: url('../img/topBannerBg.jpg') bottom repeat-x;
	width: 100%;
	height: 160px;
	position: absolute;
	top: 0;
	left: 0;
}

.logotype{
	margin: 35px 0 20px 0;
}

.panel{
	background: #231f20;
	border: none;
}

.row{
	max-width: 1600px;
}

.no-padding{
	padding: 0 !important;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -moz-box-sizing: border-box;
    background-color: white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 1.6em;
    height: 2.5em;
    margin: 0 0 1em;
    padding: 0.5em;
    transition: all 0.15s linear 0s;
    width: 100%;
}

input[type="time"], input[type="date"]{
	width: 100%;
}

select{
	-moz-box-sizing: border-box;
	background-color: white;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 1.6em;
	height: 2.5em;
	margin: 0 0 1em;
	padding: 0.5em;
	transition: all 0.15s linear 0s;
	width: 100%;
	
}

button, .button {
    background-color: #02AFB2;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Wellfleet', cursive;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 1.25em;
    padding: 0.75em 2em 0.8125em;
    position: relative;  
    text-align: center;
    text-decoration: none;
    height: 3em;
    box-shadow: none;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #017b7d; 
}

/* ICONS */

.inputIcons{
	padding-left: 76px;
}

.startIkon{
	background: url('../img/startIcon.png') no-repeat;
}

.finishedIkon{
	background: url('../img/finishedIcon.png') no-repeat;
}

.dateIkon{
	background: url('../img/dateIcon.png') no-repeat;
}

.avanIkon{
	background: url('../img/avanIcon.png') no-repeat;
}

.clockIkon{
	background: url('../img/clockIcon.png') no-repeat;
}

.iconsSmall{
	background-size: 32px;
	padding-left: 42px;
}

/* Sökresultat */

.oneDay{
	color: #fff;
	font-family: 'Wellfleet', cursive;
	font-size: 1.5em;
}

.oneTrip{
	background: #5A4A3A;
	margin-bottom: 0;
	padding: 1.25em;
	overflow: hidden;
}

.moreInfo{
	background: #02AFB2;
	margin-bottom: 1.25em;
	padding: 1.25em;
	overflow: hidden;
}

.cityName, .resultTime{
	color: #fff;
	font-family: 'Wellfleet', cursive;
	font-size: 2em;
}

.tripInfo, .tripInfoNumber{
	color: #fff;
	display: inline-block;
	font-family: 'Wellfleet', cursive;
}

.tripInfo{
	font-size: 1em;
	margin-right: 20px;
	margin-bottom: 10px;
}

.tripInfoNumber{
	font-size: 1.25em;
}

.resultTime{
	text-align: right;
}

.row .cityTime .row{
	margin: 0 0 1.25em;
}

.priceTag{
	display: inline-block;
	margin-top: 20px;
	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-moz-transform:rotate(-4deg); /* Firefox */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
	-o-transform:rotate(-4deg); /* Opera */
}

.priceBefore{
	background: url('../img/whitePriceTicket.png') no-repeat center left;
	width: 17px;
	height: 64px;
	float: left;
	padding: 0;
	margin: 0;
}

.priceAfter{
	background: url('../img/whitePriceTicket.png') no-repeat center right;
	width: 17px;
	height: 64px;
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
}

.price{
	height: 64px;
	line-height: 69px;
	float: left;
	background: #fff;
	color: #02AFB2;
	font-family: 'Wellfleet', cursive;
	font-size: 1.5em;
	padding: 0 0.5em;
	margin: 0;
	outline: 1px;
}

/* jQuery UI override */

.ui-widget-content{
	background: #fff; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-bl{
	border-radius: none; 
}

/* iPhone specific */
@media only screen 
and (max-width : 320px) {
/* Styles */

	.cityName, .resultTime{
		color: #fff;
		font-family: 'Wellfleet', cursive;
		font-size: 1.25em;
		height: 24px;
	}	
}